.info_container {
    min-width: 600px;
    min-height: 300px;
    max-width: 800px;
    max-height: 400px;
    background-color: rgb(238, 205, 205, 0.3);
    border-radius: 1vh;
    display: flex;
}


.contact {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 400px;
    margin: 10px;
    padding: 10px;
    gap: 12px;
    justify-content: center;
    border-right: 1px solid rgb(238, 205, 205, 0.3);
}

.contact img {
    border-radius: 1vh;
}

.information {
    font-weight: bold;
}

.contact_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
    padding: 10px;
}

.title_h3 {
    display: flex;
    align-items: center;
}

.sch_list ls {
    display: flex;
    align-items: center;
    justify-content: space-between;

}