.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.background_container {
    height: 100vh;
    background-image: url('../images/_.gif');
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.view_container {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.view_welcome_text {
    display: flex;
    justify-content: center;
}

.view_profile {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 3s ease;
}

.view_profile.active {
    opacity: 1;
}