.body {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.body.activeSide {
    background-color: rgba(0, 0, 0, 0.7);
}

.background_container {
    height: 100vh;
    background-image: url('../images/_.gif');
    background-size: cover;
    background-position: center;
    z-index: -3;
}

.view_container {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.view_welcome_text {
    display: flex;
    justify-content: center;
}

.view_profile {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 3s ease;
}

.view_profile.active {
    opacity: 1;
}