.body {
    position: absolute;
    width: var(--sidebar-width);
    background: linear-gradient(0deg, rgb(43, 97, 118, 0.5), rgb(255, 255, 255, 0));
    z-index: 0;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

/* ----------------Profile---------------- */
.profile_container {
    display: flex;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.profile_container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    background: linear-gradient(45deg, rgb(43, 97, 118), rgb(9, 62, 136));
    border-radius: 10cm;
    filter: blur(4px);
    z-index: -1;
}

/* ----------------Profile---------------- */
.body ul {
    list-style: none;
}

/* ----------------rate---------------- */
.posting_rate_container {
    margin: 1em;
}

.posting_rate {
    font-family: var(--main-font-family);
    font-weight: bold;
    background: linear-gradient(45deg, rgb(142, 225, 250), rgb(0, 145, 255));
    background-clip: text;
    -webkit-background-clip: text;
    /*요소의 배경을 텍스트 부분에만 적용하도록 설정*/
    color: transparent;
    /*텍스트 색을 transparent로 설정*/

}

/* ----------------List---------------- */
.list_container {
    display: grid;
    row-gap: 0.2em;
    align-items: center;
    padding: 0;
    font-family: var(--main-font-family);
    color: rgb(155, 206, 228);
}

.list_item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 40px;
    align-items: center;
    margin: 0 0.5em;
    padding: 0 1em;
    border-radius: 1vh;
}

.list_item:hover {
    transition: background-color 1s ease;
    background-color: rgb(241, 240, 143, 0.5);
    cursor: pointer;
}

.list_item img {
    width: 40px;
}

/* ----------------List---------------- */