.body {
    position: absolute;
    width: var(--sidebar-width);
    background: linear-gradient(-90deg, rgba(43, 97, 118, 0.5), rgba(255, 255, 255, 0));
    padding: 10px;
    z-index: 0;
    height: 100vh;
    right: -var(--sidebar-width); /* 초기에 화면 밖으로 숨겨둠 */
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: right 800ms cubic-bezier(.8, 0, .33, 1); /* 이동 효과를 추가합니다. */
}

.body.open {
    right: 0; /* 사이드바를 화면 안쪽으로 이동시킵니다. */
}
/* ----------------Profile---------------- */
.profile_container {
    display: flex;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.profile_container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    background: linear-gradient(90deg, rgb(1, 89, 127), rgb(7, 44, 114));
    border-radius: 100%;
    filter: blur(4px);
    z-index: -1;
}

/* ----------------Profile---------------- */
.body ul {
    list-style: none;
}

/* ----------------rate---------------- */
.posting_rate_container {
    margin: 1em;
}

.posting_rate {
    font-family: var(--main-font-family);
    font-weight: bold;
    background: linear-gradient(45deg, rgb(142, 225, 250), rgb(0, 145, 255));
    background-clip: text;
    -webkit-background-clip: text;
    /*요소의 배경을 텍스트 부분에만 적용하도록 설정*/
    color: transparent;
    /*텍스트 색을 transparent로 설정*/

}

/* ----------------List---------------- */
.list_container {
    display: grid;
    row-gap: 0.2em;
    align-items: center;
    padding: 0;
    font-family: var(--main-font-family);
    color: rgb(155, 206, 228);
}

.list_item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 40px;
    align-items: center;
    margin: 0 0.5em;
    padding: 0 1em;
    border-radius: 1vh;
}

.list_item:hover {
    transition: background-color 1s ease;
    background-color: rgb(241, 240, 143, 0.5);
    cursor: pointer;
}

.list_item img {
    width: 40px;
}

/* ----------------List---------------- */