:root {
    --sidebar-width: 16vw;
    --modern-text: lightgray;
    --tipical-text: rgb(206, 198, 170);
    --tipical-text-emphasis: rgb(199, 182, 113);
    --main-font-family: "Gill Sans", sans-serif;
}

.pofo {
    color: var(--tipical-text);
    font-family: var(--main-font-family);
    font-size: 1.6em;
}

.I {
    color: var(--tipical-text-emphasis);
    font-family: par(--main-font-family);
    font-size: 2.4em;
    transform: rotate(10deg); 
    animation: rotateText 2s infinite alternate;
}

@keyframes rotateText {
    0%, 100% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-30deg);
    }
}